/*Default styles are here*/

*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
	background-color: #d9edf766;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

li{
	list-style: none;
	display: inline-block;
}

a{
	text-decoration: none;
	transition: all 500ms ease-in-out;
}

a:hover,
a:active{
	text-decoration: none;

}

h1,
h2,
h4
{
    margin-top: 10px;
    padding: 0 15px 0 20px;
    margin-bottom: 10px;
	font-family: 'PT Sans Narrow', Arial, sans-serif ;
	text-transform: unset;
	font-weight: 700;
}

p{
	font-size: 15px;
	line-height: 21px;
}

.btn{
	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;

}

.btn:hover{
	background-color: #ededed !important;
	color: #3c3c3c !important;
	border: 1px  solid #fff !important;
}

/*Default styles end here*/
.jumbotron 
{
   padding-top: 58px;
    padding-bottom: 9px;
    margin: 2px;s
}
.jumbotron h2 {
    margin-top: 55px;
    margin-bottom: 0px;
    padding: 0;
}
.jumbotron h3 {
    font-size: 24px;
    font-style: italic;
    margin: 0px;
}
.well
{
    min-height: 20px;
    padding: 0;
    margin-bottom: 0;
    background-color: #555;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
/*navigation styling*/
.navbar img
{
    float: left;
    height: 80px;
    width: 20%;
    padding: 0px 15px 0 12px;
    margin: 0px;
}

.navbar {
	background-color: #222220 !important; 
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: -2px;
	border-bottom: 2px solid #222220;
}
.navbar a:hover
{
	border-bottom: solid 2px #D34747;
}

@media(max-width:768px){
	.navbar a:hover{
		border-bottom: none;
}
}

/*Header CSS begins here*/

.header{
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/blur.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header h1{
	color: #fff;
	text-align: center;
	font-size: 70px;
	margin-top: 250px;
	font-family: 'Roboto', sans-serif;
}

.header h3{
	text-align: center;
	color: #fff;
}

.header span{
	font-size: 20px;
	position: relative;
	top: -10px;
}

@media(max-width: 768px){
	.header h1{
		font-size: 50px;
		margin-top: 260px;
	}

	.header h3{
		font-size: 15px;
	}

}

/*Contact section */
.contact .row h2 {
    font-size: 30px;
    text-align: center;
    padding: 5px 0 15px 0;
}
.contact h5
{
	font-size: 15px;
    font-weight: bolder;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#d9edf752;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

:-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


.container .row img
{
	float: center;
	width: 100%;
}


@media(max-width: 768px)
{
	.footer .btn
	{
		margin: -2px 0px 0px 5px;
	}
}


@media(max-width: 378px)
{
	.footer .btn
	{
		margin: 8px 10px 10px 5px;
	}
}







